
*.pbxproj

*.pbxproj

*.pbxproj

*.xcworkspacedata

*.plist

Week1/Week1.xcodeproj/xcuserdata/theo.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcuserstate

Week1/Week1.xcodeproj/project.xcworkspace/xcuserdata/theo.xcuserdatad/UserInterfaceState.xcuserstate

Week1/Week1.xcodeproj/project.pbxproj

Week1/Week1.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Week1/Week1.xcodeproj/project.pbxproj

Week1/Week1.xcodeproj/project.xcworkspace/xcuserdata/theo.xcuserdatad/UserInterfaceState.xcuserstate

*.suo
Week1/Week1.opensdf
*.sdf
*.vcxproj
Week1/Week1/Week1.vcxproj.filters